@font-face {
  font-family: 'Dosis Regular';
  src:  url('fonts/Dosis-Regular.eot'),
        url('fonts/Dosis-Regular.woff'),
        url('fonts/Dosis-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('fonts/OpenSans-Regular.eot'),
       url('fonts/OpenSans-Regular.woff'),
       url('fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.eot'),
       url('fonts/OpenSans-Bold.woff'),
       url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('fonts/MyriadPro-Regular.eot'),
       url('fonts/MyriadPro-Regular.woff'),
       url('fonts/MyriadPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 2vw;
  line-height: 1.62;

  box-sizing:border-box;
}

@media (min-width: 990px) {
  html {
		font-size: 1.3vw;
		overflow-x: hidden;
	}
}

@media (min-width: 1400px) {
  html {
		font-size: 14px;
		overflow-x: hidden;
	}
}

body {
  margin: 0;

  font-family: 'Open Sans Regular', sans-serif;
  box-sizing: inherit;
  width: 100vw;
}


/*-------------------------------------------------------*/

.header__main {
  position: relative;
  background-color: #b3aba3;
  background-image: url("img/backtop.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /*! justify-content: space-between; */
  align-items: center;
  /*! padding-left: 6rem; */
  /*! padding-right: 8rem; */
  box-sizing: inherit;
  height: 177vw;
  /*! flex-shrink: 0; */
  /*! width: 100vw; */
  flex-direction: column;
  padding-bottom: 10rem;
}

.header__nav {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  display: flex;
  margin-bottom: 10rem;
}

.header__menu {
  display:none;
}

.header__list {

}

.header__nav svg {
  width: 5.5rem;
  min-width: 41px;
  height: 3.5rem;
  min-height: 29px;
  align-self: flex-end;
  margin-top: 3.7rem;
  margin-right: 4.5rem;
}

.header__logo {
}

.header__logo img {
  width: 40rem;
}

@media (min-width: 990px) {
  .header__main {
	  background-image: url("img/backtop--m.jpg");
	  flex-shrink: 0;
	  width: 100vw;
	  flex-direction: column;
	  align-items: center;
	  padding-left: 0;
	  padding-right: 0;
	  justify-content: flex-start;
	  background-size: 100% auto;
	  height: 75vw;
	  padding-bottom: 0;
	}
  .header__nav {
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__menu {
    display: none;
  }
  .header__list {}
  .header__list a {}
  .header__nav svg {
    display: block;
    margin: 3.2rem 3.7rem 0 0;
  }
  .header__logo {
    padding-top: 5rem;
  }
  .header__logo img {
    width: 38rem;
  }
}

@media (min-width: 1400px) {
  .header__main {height: 50vw;background-image: url("img/backtop--l.jpg");}
  .header__nav {}
  .header__menu {
    width: 100%;
    background-color: rgba(0, 8, 12, 0.1);
    display: flex;
    justify-content: center;
  }
  .header__list {
    display:flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Dosis Regular', sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 70%;
    letter-spacing: 2px;
  }
  .header__list a {
    text-decoration: none;
    color: #606060;
  }
  .header__nav svg {
    display: none;
  }
  .header__logo {height: auto;padding-bottom: 0;}
  .header__logo img {}
}
/*-------------------------------------------------------*/
main {
  margin-top: 5rem;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main h1 {
  margin: 0;
  padding: 0;

  font-family: 'Dosis Regular', sans-serif;
  font-size: 4rem;
}

/*-------------------------------------------------------*/

.block {

  position: relative;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;

  box-sizing: inherit;
  margin-bottom: 10rem;
}

.block__title {
  margin: 0 auto;
  padding: 0;

  font-family: 'Dosis Regular', sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.17;
  margin-bottom: 3.33rem;
  z-index: 2;
}

.block::before {
  content: "";
  position: absolute;
  width: 90%;
  background-color: #000002;
  top: 2rem;
  left: 50%;
  margin-left: -45%;
}

.block__description {
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;

  color: #7a8083;
  align-self: center;
  width: 80%;
  text-align: center;
}

@media (min-width: 990px) {
  .block {

  }

  .block__title {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .block__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000002;
    top: 2rem;
    left: 0;
  }

  .block::before {
  height: 0;
  }

  .block__description {

  padding-left: 7rem;
  padding-right: 7rem;
  letter-spacing: 2.48px;
  }
}

@media (min-width: 1400px) {
  .block {

  }

  .block__title {

  }

  .block__title::before {

  }

  .block::before {

  }

  .block__description {

  width: 42vw;
  padding-left: 0;
  padding-right: 0;
  }
}

/*--------------------------*/

.discography {
  padding-bottom: 30rem;

  background-image: url("img/backdiskography.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.discography .d__description {
  margin-bottom: 7rem;
}

.d__title {
  color:#8c6b53;
}

.d__album {
  margin:0;
  padding-left: 7vw;
  padding-right: 8vw;
  display: flex;
  flex-direction: column;
}

.d__name {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  margin-bottom: 3.3rem;
}

.d__name time {
  border-bottom: 1px #000000 solid;
}

.d__album p {
  margin: 0;
}

.d__album .d__intro {
  font-size: 1.6rem;
  line-height: 1;

  margin-bottom: 1.5rem;
}

.d__album .d__text {
  color: #aaaaaa;
}

.btn {
  display: flex;

  width: 13rem;
  height: 3.8rem;
  opacity: 0.93;

  background-color: #aaaaaa;
  /* border: solid 1px #626262; */
  font-family: 'Open Sans Bold', sans-serif;
  color: #000002;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
}

.btn__play {
  margin-top: 3.3rem;
  margin-bottom: 7.3rem;

  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn__play--2010 {
  background-color: #5c4d6d;
  background-image: url("img/backplay2010.png");
  color: #ffffff;
}
.btn__play--2012 {
  background-color: #e4e4e4;
  background-image: url("img/backplay2012.png");
}
.btn__play--2015 {
  background-color: #ebedee;
  background-image: url("img/backplay2015.png");
  margin-bottom: 0;
}

@media (min-width: 990px) {
  .discography {
  background-image: url("img/backdiskography--m.jpg");
  }
  .d__name time {
  color: rgba(0,0,0,0.65);
  }
  .btn {
    width: 15rem;
    height: 4.3rem;
  }
}

@media (min-width: 1440px) {
  .discography {
  background-image: url("img/backdiskography--l.jpg");
  }
  .discography .d__description {

  }

  .d__title {

  }

  .d__album {
    padding-left: 46vw;
    padding-right: 20vw;
    position: relative;
  }

  .d__name {
  width:25vw;
  position: absolute;
  left: 18vw;
  top: 1.5rem;
  }

  .d__name time {

  border-bottom: 3px #606060 solid;
  }

  .d__album p {

  }

  .d__album .d__intro {

  }

  .d__album .d__text {

  }

  .btn {

  align-self: flex-start;
  }
  .btn__play {

  }
}
/* -------------------------- */
.ct__title {
  background: linear-gradient(#779da6, #98b5ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ct__description {
  margin-bottom: 0;
}

.ct__tour {
  padding: 3rem;

  background-image: url("img/backconcerttours.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  max-height: 100vh;
  padding-top: 20rem;
  background-position: bottom center;
  overflow: auto;
}

.ct__subtitle {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  margin-bottom: 6rem;
  width: 70%;
}

.ct__subtitle time {
  border-bottom: 1px #000000 solid;
}

.ct__tour .ct__now {
  font-size: 1.5rem;
  line-height: 1.06;

  margin-bottom: 1.5rem;
}

.ct__tour .ct__text {
  color: #7a8083;
  margin: 0;
  margin-bottom: 7rem;
  width: 50%;
}

.btn__buy, .btn__itunes {
  background-color: transparent;
  border: solid 1px #626262;
  /*! margin-bottom: 2.5rem; */
}

.btn__buy svg, .btn__itunes svg {
  width: 0.7rem;
  height: 0.7rem;
  margin-top: 0.25rem;
  margin-left: 1.2rem;
}

.btn__buy line, .btn__itunes line {
  fill:none;
  stroke:#2F3435;
  stroke-width:12;
  stroke-linecap:square;
  stroke-miterlimit:10;
}

@media (min-width: 990px) {
  .ct__tour {
  background-image: url("img/backconcerttours--m.jpg");
  padding: 12rem 20rem 3rem 12rem;
  letter-spacing: 0.7px;
  }

  .ct__tour .ct__text {
    margin-bottom: 2rem;
    width: 100%;
  }

}
@media (min-width: 1440px) {
  .ct__title {
    background: linear-gradient(#779da6, #98b5ae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ct__description {
    margin-bottom: 0;
    width: 51vw;
  }

  .ct__tour {
    padding: 3rem;

    background-image: url("img/backconcerttours--l.jpg");
    padding-top: 20rem;
    max-height: none;
  }

  .ct__subtitle {
    margin: 0;



    width: 28rem;
    margin-left: 26rem;
    margin-bottom: 6rem;
  }

  .ct__subtitle time {
    border-bottom: 1px #000000 solid;
  }

  .ct__tour .ct__now {
    font-size: 1.5rem;
    line-height: 1.06;

    margin-bottom: 1.5rem;
    margin-left: 26rem;
  }

  .ct__tour .ct__text {
    color: #7a8083;
    margin: 0;
    margin-bottom: 2rem;
    width: 51rem;
    margin-left: 26rem;
  }

  .btn__buy, .btn__itunes {
    background-color: transparent;
    border: solid 1px #626262;
    margin-bottom: 17rem;
    margin-left: 26rem;
  }

  .btn__buy svg, .btn__itunes svg {
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.25rem;
    margin-left: 1.2rem;
  }

  .btn__buy line, .btn__itunes line {
    fill:none;
    stroke:#2F3435;
    stroke-width:12;
    stroke-linecap:square;
    stroke-miterlimit:10;
  }
}
/* ------------------- */

.latter-compositions {
  margin-bottom: 4rem;
  align-items: center;
}

.lc__track {

  display: flex;
  flex-direction: column;

  background-color: #f5f6f6;

  padding-top: 2.3rem;
  width: 80%;
  margin-bottom: 2.5rem;
}

.lc__info {

}

.lc__image {}

.lc__image video {
  width:100%;
}

.lc__albumname {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  margin-bottom: 3.3rem;

  padding-left: 2.3rem;
  padding-right: 4rem;
}

.lc__albumname time {
  border-bottom: 1px #000000 solid;
}

.lc__track .lc__name {
  font-size: 1.5rem;
  line-height: 1.06;
  letter-spacing: 0.41px;
  margin-bottom: 2.3rem;
  padding-left: 2.3rem;
  padding-right: 4rem;
}

.lc__track .lc__text {
  color: #7a8083;
  margin-bottom: 4rem;
  padding-left: 2.3rem;
  padding-right: 4rem;
}

.lc__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem;
  /*! padding-left: 2.3rem; */
  /*! padding-right: 5.7rem; */
  flex-wrap: wrap;
}

.btn__itunes svg {
  margin-left: 0.6rem;
}

.lc__statistic {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.lc__statistic li {
  display: flex;
  align-items: center;
}

.lc__svg-wrapper {
  width: 1.1rem;
  height: 1.1rem;

  margin-right: 0.6rem;
}

.lc__statistic svg {

}

.lc__statistic span {
  margin-right: 1.3rem;
}

.lc__track figure {
  margin: 0;
  padding: 0;
}

.lc__track img {
  width: 100%;
  height: 100%;
}

@media (min-width: 990px) {
  .latter-compositions {
    align-items: center;
  }
  .lc__track {
  }
  .lc__albumname time {
    color:rgba(0, 0, 0, 0.65);
  }
  .lc__albumname {
    margin-bottom: 3.3rem;

    padding-left: 3rem;
    padding-right: 4rem;
    width: 30rem;
  }
  .lc__track .lc__name {
    font-size: 1.5rem;
    line-height: 1.06;
    letter-spacing: 0.41px;
    margin-bottom: 2.3rem;
    padding-left: 3rem;
    padding-right: 4rem;
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .latter-compositions {

  }
  .lc__track {

  flex-direction: row;
  padding-top: 0;
  }

  .lc__info {

  width: 50%;
  }

  .lc__image {

  height: 100%;
  width: 50%;
  }

  .lc__albumname time {

  }
  .lc__albumname {

  padding-top: 2.5rem;
  }
  .lc__track .lc__name {

  }
  .lc__wrapper {

  justify-content: flex-start;
  }
  .btn__itunes  {

  margin-left: 2.3rem;
  margin-bottom: 0;
  width: 14rem;
  margin-right: 2.3rem;
  }
  .btn__itunes svg {

  }
  .lc__statistic span {
    font-size: 0.85rem;
  }
  .lc__track .lc__text {
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .lc__track--1 {}
  .lc__track--2 {}
  .lc__track--2 .lc__info {
    order: 1;
  }
  .lc__track--2 .lc__image {
    order: 0;
  }
  .lc__track--3 {}

  .lc__image video {
    width: 100%;
    height: auto;
  }
  .lc__track--1 figure,
  .lc__track--2 figure,
  .lc__track--3 figure {
    position: relative;
  }

  .lc__track--1 figure::before {
    content: url("img/triangleltr.png");
    position: absolute;
    left:0;
    top:50%;
  }
  .lc__track--2 figure::before {
    content: url("img/trianglertl.png");
    position: absolute;
    right: 0;
    top:50%;
  }
  .lc__track--3 figure::before {
    content: url("img/triangleltr.png");
    position: absolute;
    left:0;
    top:50%;
  }

}
/* -------------------------------- */

.music-slider {
  background-color: #353535;
  background-image: url("img/backslider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#7a8083;
}

.ms__slide {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7.7rem;
}

.ms__logo {
  position: relative;
  width: 1.67rem;
  height: 1.93rem;
  margin-bottom: 1.8rem;
}



.ms__logo::before, .ms__logo::after {
  position: absolute;
  display: block;

  top: 0.2rem;
  width: 1.87rem;
  height: 0.53rem;

  background-repeat: no-repeat;
  background-size: cover;
}

.ms__logo::before {
  content: '';
  left: -3.33rem;
  background-image: url(img/leftlightning.png);
}

.ms__logo::after {
  content: '';
  right: -3.33rem;
  background-image: url(img/rightlightning.png);
}

.ms__logo img {
  width: 1.67rem;
  height: 1.93rem;
}

.ms__slide .ms__title {
  margin:0 2.5rem 2.6rem 2.5rem;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-family: 'Myriad Pro regular', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.ms__slide .ms__text {
  margin:0 7.47rem 4.33rem 8.8rem;
  text-align: center;
}

.ms__slide .ms__marker {
  align-items: center;
  padding: 0;

  text-align: center;
  font-size: 0.93rem;
  line-height: 1.73;

  margin-bottom: 5.33rem;
}

.ms__nav {
  margin-bottom: 5.73rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .music-slider {}

  .ms__slide {
    position: relative;
  }

  .ms__logo {}

  .ms__logo::before, .ms__logo::after {}

  .ms__logo::before {}

  .ms__logo::after {}

  .ms__logo img {}

  .ms__slide .ms__title {}

  .ms__slide .ms__text {}

  .ms__slide .ms__marker {}

  .ms__nav {}

  .ms__slide::before {
    content: url("img/leftarrow.png");
    left:0;
  }
  .ms__slide::after {
    content: url("img/rightarrow.png");
    right:0;
  }
  .ms__slide::before,
  .ms__slide::after {
    position: absolute;
    top:40%;
  }
}


/* ------------------------------------------- */
.new-track-numbers {align-items: center;margin-bottom: 3rem;}

.new-track-numbers::before {
  height: 0;
}

.ntn__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ntn__card {
  margin-bottom: 3.6rem;
  padding: 2.3rem 2.3rem 3.6rem;
  position: relative;
  background-color: #f5f6f6;
  height: 32rem;
  overflow: hidden;
  text-overflow: clip;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  box-sizing: border-box;
  width: 50%;
}

.ntn__card--01 {
  background-image: url("img/ntn1back.png");
}
.ntn__card--02 {
  background-image: url("img/ntn2back.png");
}
.ntn__card--03 {
  background-image: url("img/ntn3back.png");
}
.ntn__card--04 {
  background-image: url("img/ntn4back.png");
}
.ntn__card--05 {
  background-image: url("img/ntn5back.png");
}
.ntn__card--06 {
  background-image: url("img/ntn6back.png");
}


.ntn__card::after {}
.ntn__card--01::after {}
.ntn__card--02::after {}
.ntn__card--03::after {}
.ntn__card--04::after {}
.ntn__card--05::after {}
.ntn__card--06::after {}

.ntn__cardname {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
  color: #ffffff;
  font-size: 0.93rem;
}

.ntn__cardname time {
  border-bottom: 1px #000000 solid;
  color: #000000;
}

.ntn__card .ntn__trackname {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 2.3rem;
}

.ntn__card .ntn__text {
  font-size: 1rem;
  color: #7a8083;
  line-height: 1.7;
}


@media (min-width: 990px) {
  .new-track-numbers::before {

  }

  .ntn__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  }

  .ntn__card {
  width: 28rem;
  padding: 2.4rem 3rem 4rem 2.4rem;
  }

  .ntn__card--01 {

  }
  .ntn__card--02 {

  }
  .ntn__card--03 {

  }
  .ntn__card--04 {

  }
  .ntn__card--05 {

  }
  .ntn__card--06 {

  }


  .ntn__card::after {

  }

  .ntn__card--01::after {}
  .ntn__card--02::after {}
  .ntn__card--03::after {}
  .ntn__card--04::after {}
  .ntn__card--05::after {}
  .ntn__card--06::after {}

  .ntn__cardname {

  }

  .ntn__cardname time {

  }

  .ntn__card .ntn__trackname {

  font-size: 1.7rem;
  line-height: 1.6;
  }

  .ntn__card .ntn__text {

  }

}

@media (min-width: 1440px) {
  .new-track-numbers {}
  
  .new-track-numbers::before {}

  .ntn__list {width: 65%;flex-direction: row;}

  .ntn__card {}

  .ntn__cardname {}

  .ntn__cardname time {}

  .ntn__card .ntn__trackname {}

  .ntn__card .ntn__text {}

}
/* --------------------------------------------- */
.upcoming-events {
  background-image: url('img/backue.jpg');
  background-position: left top;
  background-size: contain;
  padding-top: 4.6rem;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.upcoming-events::before {
  top:6.6rem;
  width: 36%;
  left: auto;
  right: 9rem;
}

.ue__title {
  color:#526f7a;
}

.ue__list {
  margin-top: 2rem;
  margin-left: 11rem;
  margin-right: 3.87rem;
  padding-bottom: 5rem;
}

.ue__card {
  margin-bottom: 13rem;
  position: relative;
}

.ue__card:last-child {

}

.ue__card::after {
  content: "";
  position: absolute;
  bottom: -12rem;
  left: 2rem;
  width: 0.07rem;
  height: 11rem;
  background-color: #000000;
}

.ue__card:last-child::after {
  content: "";
  height: 0;
}

.ue__cardname {
  margin: 0;
  font-size: 1.53rem;
  text-transform: uppercase;
  line-height: 1.06;
  margin-bottom: 2rem;
  position: relative;
}

.ue__cardname::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 8.8rem;
  height: 0.07rem;
  background-color: #000000;
}

.ue__cardcontent {
  color: #7a8083;
  margin-bottom: 5rem;
  position: relative;
}

.ue__card time {
  color: #7a8083;
}

.ue__cardcontent::after {
  content: "";
  position: absolute;
  bottom: -4.5rem;
  left: 2rem;
  width: 0.07rem;
  height: 3.4rem;
  background-color: #000000;
}


@media (min-width: 990px) {
  .upcoming-events {

  padding-left: 30rem;
  background-image: url('img/backue--m.jpg');
  padding-top: 0;
  }

  .upcoming-events::before {

  top: 2.1rem;
  }

  .ue__title {

  }

  .ue__list {

  }

  .ue__card {

  }

  .ue__card:last-child {

  margin-bottom: 0;
  }

  .ue__card::after {

  }

  .ue__card:last-child::after {

  }

  .ue__cardname {

  }

  .ue__cardname::after {

  }

  .ue__cardcontent {

  }

  .ue__card time {

  }

  .ue__cardcontent::after {

  }
}
@media (min-width: 1440px) {
  .upcoming-events {background-image: url('img/backue--l.jpg');padding-left: 50%;padding-top: 15rem;padding-bottom: 13rem;background-size: auto 100%;}

  .upcoming-events::before {}

  .ue__title {margin-left: 0;padding: 0;}

  .ue__list {margin-left: 0;}

  .ue__card {}

  .ue__card:last-child {}

  .ue__card::after {}

  .ue__card:last-child::after {}

  .ue__cardname {}

  .ue__cardname::after {}

  .ue__cardcontent {}

  .ue__card time {}

  .ue__cardcontent::after {}
}
/* ------------------------------------------- */
.history {
  padding-top: 5.5rem;
  background-image: url("img/backhistory.jpg");
  background-repeat: no-repeat;
  background-position: center -7rem;
  background-size: cover;
}

.history::before {
  top:7.5rem;
}

.history__title {
  color: #5a5b59;
}

.history__description {
  letter-spacing: 1.1px;
}

.history__slider {
  position: relative;
  height: 70rem;
}

.slide-decoration {
  position: absolute;
  width: 70vw;
  left:50%;
  margin-left: -35vw;
  justify-content: space-around;
  display: flex;
  top: 1rem;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history__nav {
  display: flex;
  width: 500%;
}

.nav__point--before,
.nav__point--after {
  margin-top: 1.5rem;
  width: 1rem;
  height: 1rem;
}

.nav__point--before {

  margin-left: 5rem;
}

.nav__point--after {

  margin-right: 5rem;
}

.slide-decoration::before {
  content: "";
  position: absolute;
  top: 75%;
  width: 10rem;
  height: 0.07rem;
  background-color: #000000;
  left: 0;
}
.slide-decoration::after {
  content: "";
  position: absolute;
  top: 75%;
  right: 0;
  width: 10rem;
  height: 0.07rem;
  background-color: #000000;
}

.history__slides {
  display: flex;
}

.nav__point {
  /*! width: 91vw; */
  display: flex;
  font-family: "Dosis Regular", Arial, sans-serif;
  font-size: 2.37rem;
  text-transform: uppercase;
}

.history__slide {
  flex-direction: column;
  text-align: center;
}

.history__text {
  width: 13.5rem;
}

@media (min-width: 990px) {
  .history {
    background-image: url("img/backhistory--m.jpg");
    margin-bottom: 8rem;
  }

  .history::before {

  }

  .history__title {

  }

  .history__description {

  }

  .history__slider {

  }

  .slide-decoration {

  }

  .history ul {

  }

  .history__nav {

  }

  .nav__point--before,
  .nav__point--after {

  }

  .nav__point--before {

  }

  .nav__point--after {

  }

  .slide-decoration::before {

  }
  .slide-decoration::after {

  }

  .history__slides {

  }

  .nav__point {

  }

  .history__slide {

  }

  .history__text {

  }
}

@media (min-width: 1440px) {
  .history {background-position: center top;background-image: url("img/backhistory--l.jpg");}

  .history::before {}

  .history__title {}

  .history__description {margin-bottom: 14rem;}

  .history__slider {display: flex;justify-content: center;}

  .slide-decoration {width: 30vw;margin-left: -15vw;}

  .history ul {width: 100vw;justify-content: space-around;}

  .history__nav {}

  .nav__point--before,
  .nav__point--after {}

  .nav__point--before {}

  .nav__point--after {}

  .slide-decoration::before {}
  .slide-decoration::after {}

  .history__slides {}

  .nav__point {justify-content: center;}

  .history__slide {}

  .history__text {}
}
/* --------------------------------------- */

.contact {
  background-image: url("img/backcontacts.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  margin-bottom: 0;
  padding-bottom: 20rem;
}

.contact::before {

  margin-left: 10.2rem;
  left: 0;
}

.contact__title {
  text-align: left;
  margin-bottom: 2.4rem;
  margin-left: 10rem;
  padding-left: 0;
  color: #454545;
}

.contact .block__description {
  text-align: left;
  padding-left: 10rem;
  margin-bottom: 5rem;
}

.contact p {
  margin: 0;
  padding: 0;
}

.contact__content {
  display: flex;
  margin: 0 0 0 10rem;
  justify-content: flex-start;
}

.contact__writeme {
  width: 25rem;
  margin-right: 8rem;
}

.contact__writeme input{
  width: 100%;
  margin-bottom: 3rem;
  border: none;
  border-bottom: solid #000002 1px;
  background: none;
  text-align: left;
  padding: 0;
  font-size: 1rem;
  color:#7a8083;
  padding-bottom: 0.8rem;
}

.contact__writeme input::placeholder {
  font-size: 1rem;
  color:#7a8083;
}

.contact__writeme .contact__send {
  border-bottom: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.33rem;
  font-family: 'Open Sans Bold', sans-serif;
  cursor: pointer;
  width: auto;
}

.contact__writeme .contact__send:active,
.contact__writeme .contact__send:focus,
.contact__writeme .contact__send:hover {
  color: #00000099;
}


.contact__social {
  list-style: none;
  margin: 0;
  padding: 0 1.5rem 0 1.5rem;
  border-left: solid #000002 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13rem;
  margin-top: 1rem;
  align-items: center;
  margin-left: 1.5rem;
}

.contact__svg {
  width: 1.5rem;
  height: 1.5rem;
}

.st1 {
  fill: #333033;
}


@media (min-width: 990px) {
  .contact {

  align-items: flex-start;
  padding-left: 30%;
  background-image: url("img/backcontacts--m.jpg");
  padding-bottom: 0;
  background-position: 0 bottom;
  min-height: 90vw;
  }

  .contact::before {

  }

  .contact__title {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  }

  .contact__title::before {
  width: 34.5rem;
  }

  .contact .block__description {

  padding: 0;
  /*! margin-right: 30%; */
  flex-shrink: 0;
  margin-left: 0;
  align-self: flex-start;
  }

  .contact p {

  }

  .contact__content {

  margin: 0;
  }

  .contact__writeme {

  }

  .contact__writeme input{

  }

  .contact__writeme input::placeholder {

  }

  .contact__writeme .contact__send {

  }


  .contact__social {

  }

  .contact__svg {

  }

  .st1 {

  }
}

@media (min-width: 1440px) {
  .contact {background-image: url("img/backcontacts--l.jpg");background-position-y: top;padding-left: 50%;min-height: auto;padding-bottom: 20rem;}

  .contact::before {}

  .contact__title {}

  .contact__title::before {}

  .contact .block__description {}

  .contact p {}

  .contact__content {}

  .contact__writeme {}

  .contact__writeme input{}

  .contact__writeme input::placeholder {}

  .contact__writeme .contact__send {}

  .contact__social {}

  .contact__svg {}

  .st1 {}
}
